{% extends "base.html" %}
{% block content %}
    <h1>About the application</h1>

    <p>Tic-tac-toe is a simple 2-player game with two signs and 9 fields arranged in a 3x3 grid.
        Main goal is to place 3 signs in a row, column or in a diagonal. Players take turns.</p>

    <p>In our application you have 10 coins in each created game session. To start a game within
        the session you need to spend 3 coins. If you win, you get 4 coins, so there is a possibility
        to have infinite games in a one session.</p>
{% endblock content %}