{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-around pb-3 text-center ttt-header">
        <div>
            <h4>ID<br><b>{{ game_session.id }}</b></h4>
        </div>
        <div>
            <h4>Level<br><b>{{ game_session.level }}</b></h4>
        </div>
        <div>
            <h4>Sign<br><b>{{ game_session.preferred_sign if game_session.preferred_sign else "O/X" }}</b></h4>
        </div>
        <div>
            <h4>Wallet<br><b>{{ game_session.wallet }}</b></h4>
        </div>
        <div>
            <h4>Games<br><b>{{ game_session.games|length }}</b></h4>
        </div>
    </div>
    <div class="d-flex justify-content-around">
    <a href="{{ url_for('games.sessions_list') }}">
        <button type="button" class="btn">Back to sessions list</button>
    </a>
    {% if game_session.able_to_start_new_game() %}
        <div class="ml-2">
            <form method="POST">
                <button type="submit" class="btn">Start a new game</button>
            </form>
        </div>
    {% else %}
        <div class="ml-2">
            <button type="button" class="btn btn-danger">Start a new game</button>
        </div>
    {% endif %}
    </div>
    {% if game_session.games %}
    <table class="container m-2 tictactoe-table">
        <tr style="background-color: #f0f0f0">
            {% include "segments/game_row_header.html" %}
        </tr>
        {% for game in game_session.games %}
            <tr style='background-color: {{ loop.cycle("lightgrey", "#f0f0f0") }};'>
                {% include "segments/game_row.html" %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock content %}