{% extends "base.html" %}
{% block content %}
    <div class="content-section">
      <a href="{{ url_for('games.sessions_list') }}">Back to sessions list</a>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New game session</legend>
                <div class="form-group">
                    {{ form.level.label(class="form-control-label") }}
                    {% if form.level.errors %}
                        {{ form.level(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.level.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.level(class="form-control form-control-lg", value=1) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.preferred_sign.label(class="form-control-label") }}
                    {% if form.preferred_sign.errors %}
                        {{ form.preferred_sign(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.preferred_sign.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.preferred_sign(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}